<!DOCTYPE html>
<html>
<head>
    <title>Teacher Login | NeoAttend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global-style.css') }}">
</head>
<body>

<div class="card" style="max-width:400px;margin:80px auto; text-align:center">

     <img src="{{ url_for('static', filename='neoattend.png') }}"
         style="width:80px;margin-bottom:10px;"> 

    <h3>Teacher Login</h3>

    {% if error %}
        <p class="absent-text">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('teacher.login') }}">
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>

        <button class="btn green" type="submit">Login</button>
    </form>

    <p style="margin-top:10px;">
        New teacher?
        <a href="{{ url_for('teacher.register') }}">Register</a>
    </p>
</div>

</body>
</html>
